<header class="Header">
  <nav class="navbar navbar-expand-sm">
    <a class="Header__brand" routerLink="/">
        <img src="/assets/images/platzi@2x.png" class="Header__brand-logo" width="82" height="26" alt="Platzi Square">
        <span class="Header__brand-sub">
            <i class="fa fa-map-marker Header__brand-icon" aria-hidden="true"></i>
            <small>Square</small>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-list "></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/']"><i class="fa fa-map-pin" aria-hidden="true"></i> Lugares</a>
        </li>
        <!-- <li class="nav-item"  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink]="['/admin']"><i class="fa fa-map-pin" aria-hidden="true"></i> Admin</a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Entrar</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="salir()"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Registro</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<pz-alert></pz-alert>
