<button (click)="importarCategorias()" class="btn btn-default btn-block mt-3 mb-2" *ngIf="!categorias$">
  <span *ngIf="!isLoading">
    <i class="fa fa-foursquare" aria-hidden="true"></i> Importar categorías de FourSquare
  </span>
  <span *ngIf="isLoading"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
</button>
<div class="form-group">
  <select class="form-control input-lg" [(ngModel)]="categorySelected" style="min-height:200px">
    <option *ngFor="let cat of categorias$" [ngValue]="cat">{{cat.name}}</option>
  </select>
</div>

<div class="input-group" *ngIf="categorySelected">
  <select class="form-control" multiple [(ngModel)]="listCategoriesToAdd" style="min-height:200px">
    <option *ngFor="let sub of categorySelected.categories" [ngValue]="sub">{{sub.name}}</option>
  </select>
  <div class="input-group-btn">
    <button [disabled]="!categorySelected" type="button" class="btn" style="height:100%" (click)="insertarCategorias()">
      <i class="fa fa-plus fa-2x" *ngIf="!isLoading"></i>
      <span *ngIf="isLoading"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
      <br />Insertar en firebase<br />
      <span class="badge badge-secondary">{{listCategoriesToAdd?.length}}</span>
    </button>
  </div>
</div>
