<div class="Registro">
      <div class="Registro__title text-center py-3">
          <h5 class="my-2">Crear una cuenta.</h5>
      </div>
      <div class="Registro__form-container">
        <form class="Registro-form" [formGroup]="user" (ngSubmit)="onSubmit()" >
          <div class="form-group text-left">
            <input type="text" autocomplete="off"
            [ngClass]="{'is-invalid': user.controls['name'].errors && !user.controls['name'].pristine}"
              name="name" id="name" class="form-control" placeholder="Nombre" formControlName="name">
            <div *ngIf="user.controls['name'].errors && !user.controls['name'].pristine" class="invalid-feedback">
                <div [hidden]="!user.controls['name'].errors.required">Campo requerido.</div>
                <div [hidden]="!user.controls['name'].errors.minlength">Mínimo 4 caracteres.</div>
              </div>
          </div>
          <div class="form-group text-left">
            <input type="email" class="form-control"
            [ngClass]="{'is-invalid': user.controls['email'].errors && !user.controls['email'].pristine}"
              formControlName="email"
              aria-describedby="emailHelp"
              placeholder="Enter email" required>

            <div *ngIf="user.controls['email'].errors && !user.controls['email'].pristine" class="invalid-feedback">
                <div [hidden]="!user.controls['email'].errors.required">Campo requerido.</div>
                <div [hidden]="!user.controls['email'].errors.email">Email inválido.</div>
              </div>
          </div>
          <div class="form-group text-left">
            <input type="password"
            [ngClass]="{'is-invalid': user.controls['password'].errors && !user.controls['password'].pristine}"
            formControlName="password" class="form-control" placeholder="Password">
            <div *ngIf="user.controls['password'].errors && !user.controls['password'].pristine" class="invalid-feedback">
                <div [hidden]="!user.controls['password'].errors.required">Campo requerido.</div>
                <div [hidden]="!user.controls['password'].errors.nomatch">Mínimo 6 caracteres.</div>
            </div>
          </div>
          <div class="form-group text-left">
              <input type="password"
              [ngClass]="{'is-invalid': user.controls['password_repeat'].errors && !user.controls['password_repeat'].pristine}"
              formControlName="password_repeat" class="form-control" placeholder="Repeat password">
              <div *ngIf="user.controls['password_repeat'].errors && !user.controls['password_repeat'].pristine" class="invalid-feedback">
                  <div [hidden]="!user.controls['password_repeat'].errors.required">Campo requerido.</div>
                  <div [hidden]="!user.controls['password_repeat'].errors.minlength">Mínimo 6 caracteres.</div>
                  <div [hidden]="!user.controls['password_repeat'].errors.nomatch">Las contraseñas no coinciden.</div>
              </div>
          </div>
          <button type="submit" [disabled]="!user.valid || isLoading" class="btn btn-primary  btn-green btn-block">
            <span *ngIf="!isLoading"><i class="fa fa-sign-in" aria-hidden="true"></i> Registrarme</span>
            <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          </button>
          <small class=text-center>Ya tienes una cuenta? <a routerLink="/login" title="Entrar">Entrar!</a></small>
        </form>
      </div>
      <div class="Registro__social mt-2 text-center">
          <p>...o registrate con:</p>
          <a class="btn btn-facebook btn-primary" href="#">
            <i class="fa fa-fw fa-facebook fa-fw"></i> Facebook
          </a>
          <a class="btn btn-twitter btn-primary" href="#">
            <i class="fa fa-fw fa-twitter fa-fw"></i> Twitter
          </a>
        </div>
    </div>


