<header class="Header px-2 d-flex align-items-center">
  <a class="Header__brand" routerLink="/">
      <img src="/assets/images/platzi@2x.png" class="Header__brand-logo" width="82" height="26" alt="Platzi Square">
      <span class="Header__brand-sub">
          <i class="fa fa-map-marker Header__brand-icon" aria-hidden="true"></i>
          <small>Square</small>
      </span>
  </a>
  <nav class="navbar navbar-expand-md ml-auto">
      <button class="navbar-toggler Header__toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-list"></span>
      </button>

      <div class="collapse navbar-collapse Header__nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Lugares <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</header>

<div class="Main-content">
  <router-outlet></router-outlet>
</div>
